* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navegacao {
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, black);
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
} 

.cabecalho {
    min-height: 100vh;
    display: flex;
    gap: 0px 150px;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.foto-perfil {
    max-width: 350px;
    border-radius: 30%;
    border: 2px solid black;
}

.sobre-container {
    display: flex;
    margin-top: 20px;
    gap: 0px 50px;
    justify-content: center;
    align-items: center;
}


h1 {
    margin-bottom: 5px;
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
}

.sobre {
    display: flex;
    min-height: 100vh;
    background-color: rgba(27, 27, 209, 0.034);
}

.containerFotoSobre {
    width: 2000px;
    height: 100vh;
    background-color: black;
}

.containerSobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.sobre-titulo {
    font-size: 3rem;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid black;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.caixa-textos-projeto {
    padding: 1.5rem;
}

.paragrafo-projetos {
    color: black;
    line-height: 1.25rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.contatos {
    display: flex;
    min-height: 100vh;
    background-color: rgba(27, 27, 209, 0.034);
}

.containerFotoContatos {
    width: 800px;
    height: 100vh;
    background-color: black;
}

.containerContatos {
    display: flex;
    width: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    width: 500px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid black;
    border-radius: 16px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    color: black;
    border: 1px solid black;
    outline: none;
}

.campo-form:focus {
    border-color: black;
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}


.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: black;
    background-color: white;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);   
}

.botao-curriculo {
    margin-top: 20px;
    color: black;
    background-color: white;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-curriculo:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);   
}